%h1 Check CSS
%p Some content here
%p Some content here
%h2 Header 2
%p Some content here
%p Some content here
%ul
  %li Item 1
  %li Item 2
%h1
  = image_tag 'rails.png', :size=>'32x32'
  Header 1 with image
